{% extends 'layouts/main.html' %}
{% block title %}Scan History{% endblock %}
{% block content %}

<div class="container mt-4">
<div class="page-header">
    <h1>History</h1>
</div>

{% if history %}
    <div class="row">
    {% for product in history %}
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{ product.gtin_upc }} - scanned at {{ product.created_at }}</h3>
            </div>
        <ul class="list-group">
            {% for ingredient, label in product.stringified_labels_json.items() %}
                {% if label == "mostly safe" %}
                    <li class="list-group-item list-group-item-success">
                {% elif label == "controversial" %}
                    <li class="list-group-item list-group-item-warning">
                {% elif label == "not recommended" %}
                    <li class="list-group-item list-group-item-danger">
                {% elif label == "unknown" %}
                    <li class="list-group-item list-group-item-secondary">
                {% endif %}
                        {{ ingredient }} - {{ label }}
                    </li>
            {% endfor %}
        </ul>
        </div>
    </div>
    {% endfor %}
    </div>
{% else %}
    <div class="alert alert-info" role="alert">
    No history found.
    </div>
{% endif %}
</div>


{% endblock %}