{% extends 'layouts/main.html' %}
{% block title %}FVSR LM{% endblock %}
{% block content %}
<style scoped>
    /* Additional styling to ensure full height of the page */
    html, body {
        height: 100%;
    }
    .full-height {
        height: 100%;
    }
</style>

<div class="container h-100">
    <div class="row align-items-center justify-content-center full-height">
        <div class="col text-center">
            <!-- Your image -->
            <img src="static/ico/favicon.ico" alt="Centered Image" class="img-fluid">
            <!-- Your title -->
            <h1>Foodvisor LM</h1>
        </div>
    </div>
</div>


{% endblock %}