{% extends 'layouts/main.html' %}
{% block title %}Product Breakdown{% endblock %}
{% block content %}

<div class="container mt-4">
  <div class="page-header">
    <h1>Ingredients</h1>
  </div>
  {% if ing_label_dict %}
  <div class="row">
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{ title.owner }} {{ title.name }} {{ title.subbrand }} - {{ gtin_upc }}</h3>
            </div>
        <ul class="list-group">
            {% for ingredient, label in ing_label_dict.items() %}
                {% if label == "mostly safe" %}
                    <li class="list-group-item list-group-item-success">
                {% elif label == "controversial" %}
                    <li class="list-group-item list-group-item-warning">
                {% elif label == "not recommended" %}
                    <li class="list-group-item list-group-item-danger">
                {% elif label == "unknown" %}
                    <li class="list-group-item list-group-item-secondary">
                {% endif %}
                        {{ ingredient }} - {{ label }}
                    </li>
            {% endfor %}
        </ul>
        </div>
    </div>
    </div>
    {% else %}
    <div class="alert alert-info" role="alert">
      No ingredients found.
    </div>
  {% endif %}
</div>


{% endblock %}