{% extends 'layouts/search.html' %}
{% block title %}Search{% endblock %}
{% block content %}
<h1>Take a snapshot of the current video stream</h1>
Click on the Start WebCam button.
    <p>
    <button onclick="startWebcam();">Start WebCam</button>
    <button onclick="stopWebcam();">Stop WebCam</button> 
    <button onclick="snapshot();">Take Snapshot</button> 
    </p>
    <video onclick="snapshot(this);" width=400 height=400 id="video" controls autoplay></video>
<p>
    Screenshot : <p>
    <img id="uploadImage">
    <canvas  id="myCanvas" width="400" height="350"></canvas>
</p></p>
{% endblock %}