{% extends 'layouts/search.html' %}
{% block title %}Search{% endblock %}
{% block content %}
<div class="contentarea">
    
    <canvas id="canvas"> </canvas>

    <form method="POST" class="form">
      <div class="camera">
        <video id="video">Video stream not available.</video>
        <!-- give a delay for the form to be updated -->
        <button id="startbutton" onclick="setTimeout('triggerSubmit()', 500);"> &nbsp; </button>
      </div>
      {{ form.csrf_token }}
      <div class="output">
        {{ form.barcode_image(class_ = 'form-control', required = true) }}
      </div>
    </form>
  </div>
  <script type="text/javascript">
    function triggerSubmit() {
      document.getElementsByClassName("form")[0].submit();
    }
  </script>
  
{% endblock %}